figure {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.fondo {
    display: flex;
    height: auto;
    width: auto;
    border-radius: 35px;
    padding: 10px;
}

.close, .resize {
    height: 30px;
    width: 80px;
    border-radius: 5px;
    margin: 5px;
    background-color: rgb(249, 250, 250);
}

.close, .resize:hover{
    cursor: pointer;
    color: rgb(236, 11, 11);
    transition: 400ms;
}
.close {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.resize{
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
.window {
    align-items: center;
    color: aquamarine;
    padding: 20px;
    font-family: Arial;
}
