*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(public/horizonte.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 600px) {
  .fondo {
    width: 80%;
  }
}

.logo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  top: 0;
  left: 0;
}
input {
  height: 40px;
  width: 150px;
  background-color: rgb(213, 210, 245);
  color: rgb(53, 54, 54);
  border-radius: 10px;
  font-size: 20px;
  border: none;
}
input:hover{
  cursor: pointer;
  color: rgb(236, 11, 11);
}
h1, h2 {
  color: aquamarine;
  font-size: 225%;
}

.dialog-text{
  padding: 50px;
}

.details-bar{
  padding: 10px 0;
}

.title-bar{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3{
  color: aquamarine;
}




